@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  background: #0b0f17;
}

/* Scrollbar tipis untuk log viewer */
.thin-scroll::-webkit-scrollbar {
  width: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 8px;
}
